<div class="container">
  <div class="projects">
    <select (change)="setProject($event)">
      <option></option>
      <option *ngFor="let p of projectList" value="{{p}}" [attr.selected]="selectedProject==p ? '' : null">{{p}}</option>
    </select>
    <button (click)="addProject();">+</button>
  </div>
  <div class="files">
    <div class="content" *ngIf="selectedProject">
      <ul>
        <li *ngFor="let f of fileList" (click)="selectFile(f)">
          {{f}}
        </li>
      </ul>
      <div class="actions">
        <select #drawingType>
          <option value="class">Class Drawing</option>
          <option value="mock">Mock Up</option>
        </select>
        <button (click)="addDrawing(drawingType.value)">+</button>
      </div>
    </div>
    <p *ngIf="!selectedProject">Select a project from the list above</p>
  </div>
</div>
