<div class="container">
  <div class="projects">
    Project:&nbsp;<select #projectId (change)="handleSelectProject(projectId.value)">
      <option value="">Select a project...</option>
      <option *ngFor="let p of projects"
              value="{{p.id}}" [attr.selected]="selectedProject.id==p.id ? '' : null">{{p.name}}</option>
    </select>
    <button (click)="handleAddProject();">+</button>
  </div>
  <div class="files">
    <div class="content" *ngIf="selectedProject">
      <ul>
        <li *ngFor="let f of selectedProject.files" (click)="handleSelectFile(selectedProject.id, f)">
          {{f.name}}
        </li>
      </ul>
      <div class="actions">
        <select #drawingType>
          <option *ngFor="let t of fileTypes" value="{{t.id}}">{{t.name }}</option>
        </select>
        <button (click)="handleAddDrawing(selectedProject.id, drawingType.value)">+</button>
      </div>
    </div>
    <p *ngIf="!selectedProject">Select a project from the list above</p>
  </div>
</div>
