div.container {
  display: flex;
  flex-direction: column;
}
div.projects {
  flex-grow: 0;
  display: flex;
  flex-direction: row;
}

div.projects select {
  flex-grow: 1;
}

div.projects button {
  flex-grow: 0;
}

div.files {
  flex-grow: 1;
}

div.actions {
  display: flex;
}

div.actions select {
  flex-grow: 1;
}

div.projects button {
  flex-grow: 0;
}
