@import '~@angular/material/theming';

@mixin drawing-list-theme($theme) {
  $primary: map-get($theme, primary);
  $foreground: map-get($theme, foreground);
  $background: map-get($theme, background);

  .mat-list-item.selectedFile {
    background-color: mat-color($primary);
    color: mat-color($primary, '700-contrast');
  }

  .mat-list-item.selectedFile:hover {
    background-color: mat-color($primary, darker);
  }

}
