@import '~@angular/material/theming';
@import '../app/components/drawing-list/drawing-list.component.theme.scss';

@include mat-core();

$app-primary: mat-palette($mat-indigo, 700, 300, 900);
$app-accent: mat-palette($mat-pink, A200, A100, A400);
//$app-warn: mat-palette($mat-deep-orange, A200);

$app-theme: mat-light-theme($app-primary, $app-accent);//, $app-warn);

@include angular-material-theme($app-theme);

@include drawing-list-theme($app-theme);
