<mat-toolbar color="primary">
  <button mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
  UML Designer
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #snav mode="side" [opened]="true" [fixedInViewport]="true" [fixedTopGap]="64">
    <app-drawing-list [projects]="projectService.projects$ | async"
      [selection]="selection"
      (onSelection)="handleSelection($event)"
      (onProjectAdded)="handleAddProject($event)"
      (onProjectRemoved)="handleRemoveProject($event)"
      (onFileAdded)="handleAddFile($event)"
      (onFileRemoved)="handleRemoveFile($event)"
    ></app-drawing-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-editor></app-editor>
  </mat-sidenav-content>
</mat-sidenav-container>
