<mat-drawer-container>
  <mat-drawer mode="side" [opened]="true" [ngStyle]="{'overflow-y': 'unset'}">
    <app-drawing-list [projects]="projectService.projects$ | async"
      [selection]="selection"
      (onSelection)="handleSelection($event)"
      (onProjectAdded)="handleAddProject($event)"
      (onProjectRemoved)="handleRemoveProject($event)"
      (onFileAdded)="handleAddFile($event)"
      (onFileRemoved)="handleRemoveFile($event)"
    ></app-drawing-list>
  </mat-drawer>
  <mat-drawer-content>
    <app-editor></app-editor>
  </mat-drawer-content>
</mat-drawer-container>
