<div class="files">
  <p-listbox [options]="selectedProject.files"
             optionLabel="name"
             [(ngModel)]="selectedFile"

             (onChange)="handleSelectFile($event.value)">
    <p-footer>
      <div class="actions ui-inputgroup">
        <p-dropdown #fileType
                    [options]="fileTypes"
                    optionLabel="name"></p-dropdown>
        <p-button (onClick)="handleAddFile(fileType.selectedOption.value)" label="+"></p-button>
      </div>
    </p-footer>
  </p-listbox>
</div>
