<div class="files">
  <div class="content" *ngIf="selectedProject">
    <ul>
      <li *ngIf="selectedProject.files.length < 1">Add a file using the + button below</li>
      <li *ngFor="let f of selectedProject.files" (click)="handleSelectFile(f)" [class.selected]="selectedFile==f">
        {{f.name}}
      </li>
    </ul>
    <div class="actions">
      <select #fileType>
        <option *ngFor="let t of fileTypes" value="{{t.id}}">{{t.name }}</option>
      </select>
      <button (click)="handleAddFile(fileType.value)">+</button>
    </div>
  </div>
  <p *ngIf="!selectedProject">Select a project from the list above</p>
</div>
