<table>
  <tr>
    <th class="header" colspan="2">Properties</th>
  </tr>
  <tr *ngFor="let prop of properties">
    <td><label [for]="prop.key" >{{prop.name}}</label></td>
    <td [ngSwitch]="prop.type">
      <ng-template ngSwitchCase="text">
        <input appInput
               [id]="prop.key"
               [name]="prop.key">
      </ng-template>
      <ng-template ngSwitchCase="textarea">
        <textarea appInput
                  [id]="prop.key"
                  [name]="prop.key"></textarea>
      </ng-template>
      <ng-template ngSwitchCase="list">
        <select appInput
                [id]="prop.key"
                [name]="prop.key">
          <option *ngFor="let opt of prop.options" [value]="opt.key">{{opt.name}}</option>
        </select>
      </ng-template>
    </td>
  </tr>
</table>