/* You can add global styles to this file, and also import other style files */
//@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body, html, app-root, mat-sidenav-container, mat-drawer-container {
  margin: 0;
  padding: 0;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: stretch;
}

.flex-col {
  display: flex !important;
  flex-direction: column;
  //height: 100%;
}

.flex-grow {
  flex-grow: 1;
}

.flex-shrink {
  flex-shrink: 1;
}

.nav-card {
  height: 100%;
  overflow-y: auto;
}

.bottom-right.mat-fab  {
  position: fixed;
  right: 20px;
  bottom: 10px;
}

.invisible {
  visibility: hidden;
}

mat-sidenav {
  overflow-y: hidden !important;
}

.mat-nav-list a {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-toolbar {
  min-height: 64px;
}

.mat-accordion {
  //overflow-y: auto;
}

//button.bottom-state.mat-fab {
//  left: 0;
//  bottom: 0;
//  height: 30px;
//  border-radius: 0;
//  width: 100%;
//  text-align: center;
//  vertical-align: middle;
//  display: block;
//}

button.bottom-state > span.mat-button-wrapper {
  padding: 0;
  line-height: normal;
}

button.bottom-state > div {
  border-radius: 0;
}

//.selectedFile {
//  background-color: purple;
//}
